
html {
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

h1 {
    margin: 0px;
}

h2 {
    color: #777777;
    font-size: 12px;
    font-weight: normal;
    margin-top: 0px;
}

a {
    color: #db80d7;
    text-decoration: none;
    font-weight: bold;
}

/* div {
    border: 1px solid blue;
}
 */


.center {
    display: inline-block;
}

.container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    min-height: 100%;
}

.overlay:before{
    background-color: rgba(255,0,0,0.5);
}

.image {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.555)), url('img/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.post {
    background-color: #ffffff;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shadow {
    -webkit-box-shadow: 0px 0px 9px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px -4px rgba(0,0,0,0.75);
}

.header {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex; 
    flex-direction: row;

}

.header-box {
    margin: 10px 20px 10px 20px;
}




.spacer {
    height: 3em;
    width: 50%;
    position: relative;
}

.box {
    width: 100%;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.call-to-action {
    background-color: #db80d7; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px 10px;
    border-radius: 15px;
}

.call-to-action:hover {
    background-color: #db80d6b7;
    box-shadow: none;
    cursor: pointer;
}

.call-to-action:focus {
    background-color: #db80d671
}
.post-content {
    width: 100%;
}

.post-text {
    background-color: #f2f2f2;
    font-size: 11px;
    text-align: left;
    margin: 0px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}

.page-footer {
    width: 100%;
    color: #ffffff3a;
    text-align: right;
    font-size: 10px;
    right: 20px;
    bottom: 20px;
    position: fixed;
}

.pre-title {
    color: #292929;
    padding-top: 2em;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.post-header {
    width: 100%;
}


.post-title {
    font-size: 16px;
    color: #777777;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.post-date {
    text-align: left;
    font-size: 10px;
    color: #777777;
    margin: 5px 5px 10px 10px;
}

.portrait {
    width: 100px;
    height: 100px;
    background-image: url("img/me.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 10px 10px 10px 10px;
}

.view-photos {
    text-align: right;
    font-size: 10px;
    margin: 5px 10px 10px 5px;
}

.post-image {
    max-height: 95%;
    max-width: 95%;
}

.post-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socialmediaicon {
   width: 18px;
   height: 18px; 
   padding: 0px 5px 0px 5px;
   opacity: 50%;
}

.socialmediaicon:hover {
    opacity: 100%;   
}

.fit-container {
    max-width:100%;
    max-height:100%;
}

a:hover {
    color: #000000;
    font-weight: bold;
}


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  font-size: 10px;
  font-weight: normal;
  text-align: center;
  padding: 5px 0;
  margin-left: 5px;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media only screen and (max-width: 300px) {
    .post {
      width: 95%;
    }

    .spacer {
        width: 95%;
    }
  }